<% if @article %>
  <h1>Comments for <%= @article.title%></h1>
<% else %>
  <h1>All Comments</h1>
<% end %>

<ul>
<% @comments.each do |c|%>
  <li><%= c.user.email.split('@')[0]%> commented "<%= c.comment%>" on this this article: <strong><%= link_to c.article.title, article_path(c.article_id) %></strong></li>
  
<% end %>

</ul>
