<p id="notice"><%= notice %></p>

<h1>Comments</h1>

<ul>
<% @comments.each do |c|%>
  <li><%= c.user.email%> says "<%= c.comment%>" about this article: <strong><%= link_to c.article.title, article_path(c.article_id) %></strong></li>
  
<% end %>


