<p style="color: green"><%= notice %></p>

<h1>All Articles</h1>


<div id="articles" id="articles">
  <%  @articles.each  do |article| %>
    <%= render article %> 
   <div><%= link_to "Show this article", article %></div><br>

   
   </div>
  <% end %>

<%= link_to "New article", new_article_path %>


