<p style="color: green"><%= notice %></p>

<h1>All Articles</h1>


<div class="articles">
<%  @articles.each  do |article| %>
      <%= render article %> 
      <%= link_to "Show this article", article, class: 'link-to-text-color' %><br>
   </div>
  <% end %>

<%= link_to "New article", new_article_path, class: 'link-to-text-color' %>


