/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    margin: 5px;
    padding: 20px;
    font-family: 'Oswald', sans-serif;
}

 h1 {
    font-size: 4rem;
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    background-size: 100%;
    text-align: center;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
 }
 
 #articles {
    display:flexbox;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;    
    
 }

 a {
    padding: 45px;
    
 }

 a:hover {
    color: pink;
    font-size: 15px;
    transition: 0.4s ease-in;
 }

 .card-body {
    padding: 30px;
    margin: 30px;

 }

 p {
    color:darkslategray;
    font-weight: 600;
    font-size: 20px;

 }

 h3 {
    text-align: center;
    color: #6610f2;
    
 }